@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-background {
  background-color: #171212;
  background-image: linear-gradient(rgba(79, 70, 229, 0.1) 1px, transparent 0),
    linear-gradient(90deg, rgba(79, 70, 229, 0.1) 1px, transparent 0);
  background-size: 24px 24px;
}

@media screen and (min-width: 640px) {
  .bg-background-black {
    background-color: #171212;
    background-image: linear-gradient(rgba(79, 70, 229, 0.1) 1px, transparent 0),
      linear-gradient(90deg, rgba(79, 70, 229, 0.1) 1px, transparent 0);
    background-size: 24px 24px;
  }
}

.font-sourceCodePro {
  font-family: var(--font-source-code-pro);
}

.font-cic-std {
  font-family: var(--font-cir-std-book);
}

.wave-hand {
  display: inline-block;
  animation: wave 1s ease-in-out infinite, pulse 1.5s ease-in-out infinite;
  transform-origin: 70% 70%; /* Adjust this based on your element's size */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
